<div
  id="modal"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 hidden"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modal-title"
>
  <div class="bg-white w-full max-w-sm rounded-lg shadow-lg p-6">
    <header class="flex items-center justify-between mb-4">
      <h2
        id="modal-title"
        class="text-2xl kaus mx-auto font-semibold text-gray-800"
      >
        ¿Ingresar a la sala?
      </h2>
      <button
        class="btn-close text-gray-500 hover:text-red-600 text-3xl active:scale-95 duration-300 cursor-pointer"
        aria-label="Cerrar modal"
      >
        x
      </button>
    </header>
    <form class="gap-4 flex flex-col" action="/" method="POST">
      <p id="modal-content" class="text-lg text-gray-600">
        Sala seleccionada: <span class="font-semibold">...</span>
      </p>

      <input
        id="nameUsuario"
        type="text"
        name="nombre"
        placeholder="UsuarioAnonimo123"
        required
        class="mb-4 px-4 py-2 border rounded w-full"
      />
      <button
        type="button"
        class="btn-close px-4 py-2 bg-red-500 active:scale-95 duration-300 text-white rounded hover:bg-red-700"
      >
        Cancelar
      </button>

      <button
        type="submit"
        id="confirmar"
        class="px-4 py-2 bg-green-500 active:scale-95 duration-300 text-white rounded hover:bg-green-700"
      >
        Confirmar
      </button>
    </form>
  </div>
</div>
<script is:inline>
  const adjetivos = [
    "Brincolín",
    "Furioso",
    "Rugiente",
    "Chispeante",
    "Tambaleante",
    "Invisible",
    "Bailarín",
    "Sonriente",
    "Lunar",
    "Chiflado",
  ];

  const animales = [
    "Ardilla",
    "Tortuga",
    "Panda",
    "Pingüino",
    "Cangrejo",
    "Zorro",
    "Koala",
    "Canguro",
    "Mapache",
    "Pulpo",
  ];

  function generarName() {
    const adj = adjetivos[Math.floor(Math.random() * adjetivos.length)];
    const animal = animales[Math.floor(Math.random() * animales.length)];
    const $input = document.getElementById("nameUsuario");
    $input.value = `${animal}${adj}`;
  }

  function local(input, sala) {
    const sessionActual = {
      nombre: input.trim(),
      activo: true,
      sala: sala,
    };
    localStorage.setItem("sessionActual", JSON.stringify(sessionActual));

    fetch("http://localhost:3000/api/usuario", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        apodo: sessionActual.nombre
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        alert("Usuario registrado:", sessionActual.nombre);
        window.location.href = `/sala/${encodeURIComponent(sessionActual.sala)}`;
      })
      .catch((err) => {
        alert("Error al registrar usuario:", err);
      });
  }

  document.addEventListener("DOMContentLoaded", () => {
    const modal = document.getElementById("modal");
    const modalContent = document.getElementById("modal-content");
    let salaSeleccionada = null;

    const botones = document.getElementsByClassName("btn-modal");
    modal.addEventListener("click", (event) => {
      if (event.target === event.currentTarget) {
        modal.classList.add("hidden");
      }
    });

    for (let btn of botones) {
      btn.addEventListener("click", (e) => {
        const title = btn.dataset.title;
        salaSeleccionada = title.trim();
        modalContent.innerHTML = `Sala seleccionada: <span class="font-semibold">${salaSeleccionada}</span>`;
        generarName();
        modal.classList.remove("hidden");
      });
    }

    const cerrarBotones = document.getElementsByClassName("btn-close");

    for (let btn of cerrarBotones) {
      btn.addEventListener("click", () => {
        modal.classList.add("hidden");
      });
    }

    const form = modal.querySelector("form");
    form.addEventListener("submit", (event) => {
      event.preventDefault();
      const $input = document.getElementById("nameUsuario");
      if ($input.value.trim() === "") {
        generarName();
      }
      local($input.value, salaSeleccionada);
    });

    document.addEventListener("keydown", (e) => {
      if (e.key === "Escape" && !modal.classList.contains("hidden")) {
        modal.classList.add("hidden");
      }
    });
  });
</script>
