---
import "../styles/global.css";
import Modal from "../components/Modal.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Chats Anónimos</title>
  </head>
  <body class="bg-gray-50 text-gray-900 poppins">
    <slot />
    <Modal/>
  </body>
</html>
