---
import Message from "../components/Message.astro";
import Layout from "../layouts/Layout.astro";
import HeaderChat from "../components/HeaderChat.astro";
---

<Layout>
    <header>
        <HeaderChat />
    </header>

    <main class="min-h-[90vh]">

    </main>

    <footer>
        <Message></Message>
    </footer>
</Layout>
