---
import Message from "../components/Message.astro";
import Layout from "../layouts/Layout.astro";
import HeaderChat from "../components/HeaderChat.astro";
import ChatContainer from "../components/ChatContainer.astro";

const mensajes = [
  {
    id: 1,
    user: "User 789",
    text: "lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    time: "10:02 a. m.",
    fromMe: false,
  },
  {
    id: 2,
    user: "yo",
    text: "lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    time: "10:02 a. m.",
    fromMe: true,
  }
];
---

<Layout>
  <HeaderChat/>
<main>

  <ChatContainer mensajes={mensajes} />

</main>
<footer>
    <Message></Message>
</footer>

</Layout>
