---
import Message from "../components/Message.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
<main class="min-h-[90vh]">

</main>

<footer>
    <Message></Message>
</footer>
</Layout>
