---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const res = await fetch("https://chatanonimo-production.up.railway.app/api/salas");
const data = await res.json();
---

<Layout>
  <header class="bg-blue-600 py-4 shadow-md rounded-b-2xl">
    <h2
      class="text-3xl kaus font-semibold text-white text-center tracking-wide"
    >
      Chats Anónimos
    </h2>
  </header>

  <main class="max-w-6xl mx-auto px-4 py-8">
    <section
      id="salas"
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
    >
      {
        data ? (
          data.map((e) => (
            <Card
              icon="💻"
              title={e.nombre}
              description={e.descripcion}
              buttonText="Ingresar a la sala"
            />
          ))
        ) : (
          <p class="mx-auto w-auto col-span-1 md:col-span-2 ">no hay salas</p>
        )
      }
    </section>
  </main>
</Layout>
